<header>
    <div class="navbar navbar-dark  shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i class="fas fa-shipping-fast"style="font-size:40px;">&nbsp;
            </i> 
            <strong style="font-size:30px">Accenture</strong>
            <div class="form-group">
                <input type="text" placeholder="search for products" class="form-control">
            </div>
            <span  style="color: #333333;" class="fas fa-search search-icon"></span>
            </div>
            <button style="margin-left: 250px;" routerLink="/cart" class="btn ">
                <i style="font-size: 30px; color:white" class="fas fa-cart-plus"></i>
                <div style="font-size:10px" class="badge bg-danger">{{totalItem}}</div>
            </button>
            <button style="color:white; background-color: #333333; border: none; margin-right: 30px;" routerLink="/login">Logout</button>

            </div>
            </header>
<h2 >Thank you for shopping with us 🛒</h2>
<button routerLink="/header" class="btn visit">Visit Again</button>
